body {
  background: rgb(0, 195, 255);
}

header {
  width: 67%;
  margin: auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

p, li {
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 300px;
  margin: auto;
}

@media screen and (max-width: 700) {

}